@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IM+Fell+DW+Pica&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedgwick+Ave+Display&display=swap') ;

* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./images/background.png');
  color: white;
  font-family: Epilogue , sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

header h1 {
  font-size: 65px;
  font-weight: 200;
  margin-top: 90px;
  text-transform: uppercase;
}

header h1:before {
  background-image: url('./images/background.png');
  border-radius: 10px;
  content: attr(div);
  height: 60px;
  margin-left: 125px;
  margin-top: 2px;
  position: absolute;
  width: 50px;
  z-index: -1;
}

header h1:after {
  border: 2px solid white;
  border-radius: 100%;
  content: attr(div);
  height: 110px;
  margin-left: -350px;
  margin-top: -30px;
  position: absolute;
  transform: rotate(-33deg);
  width: 270px;
  z-index: -2;
}

.solarsystem {
  margin-top: 300px;
}

.solarsystem h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.missionsdiv div {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  min-height: 202px;
  min-width: 150px;
  mix-blend-mode: hard-light;
  width: 45%;
}

.planets {
  box-sizing: border-box;
  display: flex;
  height: 400px;
  padding: 20px;
}

.planets div {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.planets div p {
  font-size: clamp(8px, 1.5vw, 16px);
  font-weight: 400;
  height: 20px;
  margin-top: -100px;
}

.planets div:nth-of-type( 1 ) {
  width: 5%;
}

.planets div img {
  justify-self: center;
  margin: auto;
  width: 100%;
}

.planets div:nth-of-type( 1 ) img {
  justify-self: center;
  margin: auto;
  width: 70%;
}

.planets div:nth-of-type( 2 ) {
  width: 9%;
}

.planets div:nth-of-type( 3 ) {
  width: 9%;
}

.planets div:nth-of-type( 4 ) {
  width: 6%;
}

.planets div:nth-of-type( 5 ) {
  width: 24%;
}

.planets div:nth-of-type( 6 ) {
  width: 23%;
}

.planets div:nth-of-type( 6 ) img {
  transform: rotate(-20deg);
}

.planets div:nth-of-type( 7 ) {
  width: 12%;
}

.planets div:nth-of-type( 8 ) {
  width: 12%;
}

hr {
  margin-top: -161px;
}

.missionsdiv {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 200px auto;
  padding-bottom: 50px;
  width: 90%;
}

.missionsdiv h2 {
  font-size: 40px;
  font-weight: 300;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.missionsdiv div p:nth-of-type( 1 ) {
  align-items: center;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  display: flex;
  font-size: clamp(20px, 3vw, 28px);
  font-weight: 400;
  height: 100px;
  padding: 10px 30px;
  text-transform: uppercase;
  width: 100%;
}

.missionsdiv div p:nth-of-type( 2 ) {
  box-sizing: border-box;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 500;
  padding: 0 5px 0 10px;
  width: 26%;
}

.missionsdiv div p:nth-of-type( 2 ):before {
  content: '\f073';
  font-family: 'Font Awesome 5 Free' , monospace;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 900;
  padding-right: 5px;
}

.missionsdiv div p:nth-of-type( 3 ) {
  box-sizing: border-box;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 500;
  padding: 0 5px;
  width: 37%;
}

.missionsdiv div p:nth-of-type( 3 ):before {
  content: '\f3c5';
  font-family: 'Font Awesome 5 Free' , monospace;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 900;
  padding-right: 5px;
}

.missionsdiv div p:nth-of-type( 4 ) {
  box-sizing: border-box;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 500;
  padding: 0 5px;
  width: 37%;
}

.missionsdiv div p:nth-of-type( 4 ):before {
  content: '\f024';
  font-family: 'Font Awesome 5 Free' , monospace;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 900;
  padding-right: 5px;
}

@media ( max-width : 505px ) {

  header h1 {
    font-size: 21px;
    font-weight: 200;
    margin-top: 90px;
    text-transform: uppercase;
  }

  header h1:before {
    background: url('./images/background.png');
    border-radius: 3px;
    content: attr(div);
    height: 19px;
    margin-left: 40px;
    margin-top: -1px;
    position: absolute;
    width: 17px;
    z-index: -1;
  }

  header h1:after {
    border: 1px solid white;
    border-radius: 100%;
    content: attr(div);
    height: 36px;
    margin-left: -116px;
    margin-top: -10px;
    position: absolute;
    transform: rotate(-33deg);
    width: 90px;
    z-index: -2;
  }

  .planets div {
    height: 200px;
  }

  .planets div p {
    font-size: clamp(4px, 1.5vw, 8px);
    height: 20px;
  }

  hr {
    margin-top: -241px;
  }

  .solarsystem {
    margin-top: 100px;
  }

  .solarsystem h2 {
    font-size: 16px;
  }

  .missionsdiv div {
    width: 90%;
  }
}
